{
  "presets": [
      "@babel/env",
      "@babel/typescript",
      "@babel/react"
  ],
  "plugins": [
      "@babel/proposal-class-properties",
      "@babel/proposal-object-rest-spread",
      [
        "babel-plugin-styled-components",
        {
          "ssr": false
        }
      ]
  ],
  "ignore": [
    "**/*.stories.jsx",
    "**/*.spec.jsx"
  ]
}